<!DOCTYPE HTML>

<html>
	<head>
		<title>K_Studio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		  <div id="wrapper">
       <!-- Header -->

			   <header id="header">
				　<a id="logo"><span>K-Studio</span></a>
			   </header>

              <figure>
               <%= image_tag 'banner.jpg' %>
                 <figcaption class="decorator">
				   <div class="inner">
				    <header class="major">
					  <h1>K-Studio</h1>
					</header>
					 <div class="content">
						<p>陸上競技専門<br />オンラインコーチングサービス<br />

					 </div>
				    </div>
                  </figcaption>
               </figure>
						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<header class="major">
										<h3><%= link_to 'K-Studioとは', about_path, class: "link" %></h3>
									</header>
								</article>
								<article>
									<header class="major">
									    <h3><%= link_to '特徴', point_path, class: "link" %></h3>
									</header>
								</article>
								<article>
									<header class="major">
									   <h3><%= link_to 'コーチ紹介', coach_path, class: "link" %></h3>
									</header>
								</article>
								<article>
									<header class="major">
										<h3><a href="" class="link">アプリダウンロードはこちら</a></h3>
										<p>	<a href="https://apps.apple.com/us/app/k-studio/id1480018688?itsct=apps_box&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-US?size=250x83&amp;releaseDate=1569801600&h=3951218cc9a203c4cb6ad41cbeb743d7" alt="AppStoreからダウンロード" style="border-radius: 13px; width: 250px; height: 83px;"></a></p>
									</header>
								</article>
							</section>


<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul>
							 <li><span class="label"><%= link_to '利用規約', kiyaku_path, class: "link" %></span></li>
							 <li><span class="label"><%= link_to 'プライバシーポリシー', policy_path, class: "link" %></span></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>



		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>