<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>K_Studio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="landing.html">Landing</a></li>
							<li><a href="generic.html">Generic</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Get Started</a></li>
							<li><a href="#" class="button fit">Log In</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>K-Studio</h1>
							</header>
							<div class="content">
								<p>陸上特化型プレミアムコーチングサービス<br />
								サブタイトルサブタイトルサブタイトル</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

				　　　<section id="one" style = "background:#78bfd7">
								<div class="inner">
									<header class="major">
										<h2>K-Studioとは</h2>
									</header>
									<p>〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜.</p>
								</div>
							</section>

					  	<section id="two" style = "background:#e59389">
							 	<div class="inner">
									<header class="major">
										<h2>特徴</h2>
									</header>
								  <div class="flex" style = color:#778899>
								   <div class="box">
								    <p>あああああああ</p>
								   </div>
                   <div class="box">
								    <p>いいいいいいいい</p>
								   </div>
                   <div class="box">
								    <p>ううううううううう</p>
								   </div>
                   <div class="box">
								    <p>えええええええええ</p>
								   </div>
								  </div>
								 </div>
								</div>
							</section>

							<section id="three" style = "background:#9086c1">
								<div class="inner">
									<header class="major">
										<h2>コーチ紹介</h2>
									</header>
									<p>〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜.</p>
								</div>
							</section>
					</div>


<body>
    <table border="0" width="500px" style = "background:#ffffff" >
    <tbody>

      <tr><td align="left">
			　<%= link_to image_tag("download.png",:size =>'200x76', class: "image"), "https://apps.apple.com/jp/app/apple-store/id375380948" %>
			</td></tr>

      <tr><td align="right">
        <a href="" class="btn btn-border">push</a>
				<li><%= link_to '利用規約', kiyaku_path, class: "btn btn-border" %></li>
        <li><%= link_to 'プライバシーポリシー', policy_path, class: "btn btn-border" %></li>
      </td></tr>
    </tbody>
    </table>
  </body>


             <div class="inner" style = "background:#ffffff">
									<ul>
										<%= link_to image_tag("download.png",:size =>'200x76', class: "image"), "https://apps.apple.com/jp/app/apple-store/id375380948" %>
									</ul>

									  <a href="" class="btn btn-border">push</a>
										<li><%= link_to '利用規約', kiyaku_path, class: "btn btn-border" %></li>
                    <li><%= link_to 'プライバシーポリシー', policy_path, class: "btn btn-border" %></li>

							</div>
						</section>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>